SHEETY_KEY="SomeSecretToken"
URL_SHEETY="https://api.sheety.co/<token>/<wokrbook>/<worksheet>"
AMADEUS_KEY="AmadeusKeyFrompreviousCourseVersion"
AMADEUS_SECRET = "AmadeusSecret"
SERPAPI_KEY ="SerpapiKey"
TWILIO_SID = "TwilioSID"
TWILIO_AUTH_TOKEN = "TwilioToken"
